<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="car-make">
                <span class="input-label">Make</span>
                <select>
                    <option>BMW</option>
                    <option>Audi</option>
                    <option>Peugeot</option>
                </select>
            </label>
            <label class="item item-select" name="car-model">
                <span class="input-label">Model</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">First registration</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Price up to</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-select" name="car-fuel">
                <span class="input-label">Fuel type</span>
                <select></select>
            </label>
        </form>
    </ion-content>
</ion-view>